@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Rubik:wght@300;400&display=swap');

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  background-color: #fcefe7;
}
root {
  width: 100%;
}
.container {
  width: 250px;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  height: 300px;
  overflow: hidden;
  margin-top: 7px;
}
.btncont {
  min-width: 25%;
  display: flex;
  /* flex-direction: column;
  flex-wrap: wrap; */
  text-align: center;
  align-content: flex-end;
  /* justify-content: center;
  align-items: center; */
  overflow: hidden;
}
.btn {
  
  width: 50px;
  aspect-ratio: 1;
  margin: 0;
  display: inline-block;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin:  4px 4px ;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  background-color: #fff;
}
.btn:hover{
  transform: scale(0.99);
}

.container :nth-child(1),
.container :nth-child(2),
.container :nth-child(3),
.container :nth-child(4),
.container :nth-child(8),
.container :nth-child(12),
.container :nth-child(16),
.container :nth-child(20){
  background-color: #FBB63F;
  color: black;
  font-size: 13px;
}

/* .container :nth-child(1),
.container :nth-child(2),
.container :nth-child(3),
.container :nth-child(4){
  font-size: 12px;
} */
.container :nth-child(19){
  background-color: #17BC8B;
  /* border-radius: 50%; */
}



.screen {
  width: 88%;
  text-align: right;
  height:80px;
  font-size: 42px;
  margin: 20px auto 5px auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  top: 10px;
  color: #ffffff;
  overflow: hidden;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding-bottom: 10px;
  text-indent: 50px;
}
.screen > {
  margin-right: 10px;
}
.calculator {
  background-color: #E85343;
  max-width: 250px;
  border-radius: 10px;
  height: 410px;
}
.sum {
  position: absolute;
  padding-top: 10px;
  text-align: right;
  height: 20px;
  font-size: 16px;
  bottom: 7px;
  right: 5px;
  overflow: hidden;
  
}